#!/bin/bash

fn_caewmjfh345etr4g() {

	lfoe_repo_up_rc fns_bsh

	[[ $(type -t fns_bsh_001_tst_fn) == "function" ]] || {
		echo -e "${ECHO_RET1}in file://${fn_nm} , line=${LINENO} :: EXEC : '[[ \$(type -t lfoe_is_fn) == \"function\" ]]', 'RESUME :: in $HOME/aer_foe/.d/.sh/.lib.sh ERROR' return 1${NRM}" >&2
		return 1
	}

}

fn_caewmjfh345etr4g @ >"$HOME"/null
